<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Department</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <form method="POST" action="/employee/update_dep/{{department.id}}">
        {% csrf_token %}
        <div>
            <br>
            <p>
                <h3>Update Department Details</h3>
            </p>
        </div>
        <div>
            <p>Department ID:</p>
            <div>
                <input type="text" name="id" value="{{department.id}}" />
            </div>

            <p>Department Name:</p>
            <div>
                <input type="text" name="name" value="{{department.name}}" />
            </div>
        </div>
        <div>
            <p>Department Details:</p>
            <div>
                <input type="text" name="description" value="{{department.description}}" />
            </div>
        </div>
        <div>
            <br>
            <button type="submit">Update</button>
        </div>
    </form>
</body>

</html>