<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Departments</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>Department ID</th>
                <th>Department Name</th>
                <th>Description</th>
            
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for dep in department %}
            <tr>
                <td >{{ dep.id }}</td>
                <td>{{dep.name}}</td>
                <td>{{dep.description}}</td>
               
                <td>
                    <a href="/employee/edit_dep/{{ dep.id }}">Edit</a>
                    <a href="/employee/delete_dep/{{dep.id}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <button><a style="color:white;" href="/employee/dep">Add New Record</a></button>
</body>

</html>